In this project i will predict the employee absentees data

In [318]:
import numpy as np
import pandas as pd

In [319]:
df = pd.read_csv('Absenteeism_data.csv')
print(df.head())

   ID  Reason for Absence        Date  Transportation Expense  \
0  11                  26  07/07/2015                     289
1  36                   0  14/07/2015                     118
2   3                  23  15/07/2015                     179
3   7                   7  16/07/2015                     279
4  11                  23  23/07/2015                     289

   Distance to Work  Age  Daily Work Load Average  Body Mass Index  Education  \
0                36   33                  239.554               30          1
1                13   50                  239.554               31          1
2                51   38                  239.554               31          1
3                 5   39                  239.554               24          1
4                36   33                  239.554               30          1

   Children  Pets  Absenteeism Time in Hours
0         2     1                          4
1         1     0                          0
2         0     0                          2
3         2     0                          4
4         2     1                          2

cleaning the data

In [320]:
#dropping the ID collumn because of no use
df.drop('ID', inplace=True, axis=1)
print(df.head)
display(df)

<bound method NDFrame.head of      Reason for Absence        Date  Transportation Expense  Distance to Work  \
0                    26  07/07/2015                     289                36
1                     0  14/07/2015                     118                13
2                    23  15/07/2015                     179                51
3                     7  16/07/2015                     279                 5
4                    23  23/07/2015                     289                36
..                  ...         ...                     ...               ...
695                  10  23/05/2018                     179                22
696                   6  23/05/2018                     225                26
697                  10  24/05/2018                     330                16
698                  23  24/05/2018                     235                16
699                  28  31/05/2018                     291                31

     Age  Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0     33                  239.554               30          1         2     1
1     50                  239.554               31          1         1     0
2     38                  239.554               31          1         0     0
3     39                  239.554               24          1         2     0
4     33                  239.554               30          1         2     1
..   ...                      ...              ...        ...       ...   ...
695   40                  237.656               22          2         2     0
696   28                  237.656               24          1         1     2
697   28                  237.656               25          2         0     0
698   32                  237.656               25          3         0     0
699   40                  237.656               25          1         1     1

     Absenteeism Time in Hours
0                            4
1                            0
2                            2
3                            4
4                            2
..                         ...
695                          8
696                          3
697                          8
698                          2
699                          2

[700 rows x 11 columns]>

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [321]:
# #making groups of Reason of Absence
df['Reason 1'] = df['Reason for Absence'].apply(lambda x: int(True) if (x >= 1 and x <= 14) else int(False))
df['Reason 2'] = df['Reason for Absence'].apply(lambda x: int(True) if (x >= 15 and x <= 17) else int(False))
df['Reason 3'] = df['Reason for Absence'].apply(lambda x: int(True) if (x >= 18 and x <= 21) else int(False))
df['Reason 4'] = df['Reason for Absence'].apply(lambda x: int(True) if (x >= 22 and x <= 28) else int(False))
cols = list(df.columns.values)
cols = cols[-4:] + cols[:10]
df = df[cols]


df.drop('Reason for Absence', axis=1)
print(df)
display(df)

     Reason 1  Reason 2  Reason 3  Reason 4  Reason for Absence        Date  \
0           0         0         0         1                  26  07/07/2015
1           0         0         0         0                   0  14/07/2015
2           0         0         0         1                  23  15/07/2015
3           1         0         0         0                   7  16/07/2015
4           0         0         0         1                  23  23/07/2015
..        ...       ...       ...       ...                 ...         ...
695         1         0         0         0                  10  23/05/2018
696         1         0         0         0                   6  23/05/2018
697         1         0         0         0                  10  24/05/2018
698         0         0         0         1                  23  24/05/2018
699         0         0         0         1                  28  31/05/2018

     Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
0                       289                36   33                  239.554
1                       118                13   50                  239.554
2                       179                51   38                  239.554
3                       279                 5   39                  239.554
4                       289                36   33                  239.554
..                      ...               ...  ...                      ...
695                     179                22   40                  237.656
696                     225                26   28                  237.656
697                     330                16   28                  237.656
698                     235                16   32                  237.656
699                     291                31   40                  237.656

     Body Mass Index  Education  Children  Pets
0                 30          1         2     1
1                 31          1         1     0
2                 31          1         0     0
3                 24          1         2     0
4                 30          1         2     1
..               ...        ...       ...   ...
695               22          2         2     0
696               24          1         1     2
697               25          2         0     0
698               25          3         0     0
699               25          1         1     1

[700 rows x 14 columns]

,Reason 1,Reason 2,Reason 3,Reason 4,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,26,07/07/2015,289,36,33,239.554,30,1,2,1
1,0,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0
2,0,0,0,1,23,15/07/2015,179,51,38,239.554,31,1,0,0
3,1,0,0,0,7,16/07/2015,279,5,39,239.554,24,1,2,0
4,0,0,0,1,23,23/07/2015,289,36,33,239.554,30,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,10,23/05/2018,179,22,40,237.656,22,2,2,0
696,1,0,0,0,6,23/05/2018,225,26,28,237.656,24,1,1,2
697,1,0,0,0,10,24/05/2018,330,16,28,237.656,25,2,0,0
698,0,0,0,1,23,24/05/2018,235,16,32,237.656,25,3,0,0
699,0,0,0,1,28,31/05/2018,291,31,40,237.656,25,1,1,1